/*
* Sidebar.scss
*/
@import "../variable.scss";

.contentTop {
  background-color: #00bff3;
  position: relative;
  height: $profilepicture-height;
}
.sideBarWrapper{
  background: #232c33;
  width: $leftside-width;
  float: left;
  height: 100vh;
  // margin-top: $statusbar-height;
}
