/* pages/Absendigital.scss */
@import "../variable.scss";

.liveReportAbsensiWrapper {
  padding: 20px;
}

.liveReportSiswaWrapper {
  width: 50%;
  display: inline-block;
}
.liveReportGuruWrapper {
  width: 50%;
  display: inline-block;
}
