
.AbsenDateTimeWrapper {
  background-color: #fff;
  padding-top: 55px;
  padding-left: 20px;
  min-height: 300px;
}
.AbsenDateTimeWrapper .tanggal {
  font-size: 3em;
}
.AbsenDateTimeWrapper .jamMenitWrapper {
  margin-top: 80px;
  font-size: 13em;
  margin-bottom: 120px;
}
.AbsenDateTimeWrapper .jam {
  color: #00bff3;
}
.AbsenDateTimeWrapper .titikDua {

}
.AbsenDateTimeWrapper .menit {
  color: #c844e8;
}
.AbsenDateTimeWrapper .keterangan{
    color: #7c8890;
    font-size: 3em;
}
