/*
* global.scss
*/

@import "./variable.scss";

// .headerMenuWrapper {
//   color: #333;
//   //height: 50px;
// }

.containerWrapper {
  margin-left: $leftside-width;
  margin-top: $statusbar-height;
}
.ContentWrapper {
  padding: 10px;
}
