/* variable.scss */

$leftside-width: 210px;
$statusbar-height: 45px;

$statusbar-height: 45px;
$leftside-width: 210px;
$profilepicture-width: 135px;
$profilepicture-height: 187px;

$header-height: 30px;
